Repository rsa-code/twd-mp1-ricardo-araujo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lint:
  run: npx eslint {staged_files} --fix
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

type-check:
  run: npx tsc --noEmit

chore: refactor CI/CD pipeline and remove README.md file
  .github/workflows/code-quality.yml
  README.md
Due: format

fix: enhance error handling and response validation in fetchGraphQL function
  cms-contentful-app/lib/api.ts
  lib/api.ts
Due: lint, format, type-check

fix: update build script to use dotenv for environment variables and add dotenv-cli dependency
  package-lock.json
  package.json
Due: format

fix: add CONTENTFUL_PREVIEW_SECRET to deployment secrets in CI/CD pipeline
  .github/workflows/code-quality.yml
Due: none

fix: improve Contentful credentials handling in fetchGraphQL function
  cms-contentful-app/lib/api.ts
  lib/api.ts
  package.json
Due: lint, format, type-check

fix: add .env.production to .gitignore to prevent local environment file from being tracked
  .gitignore
Due: none

fix: update deployment condition to support both main and master branches
  .github/workflows/code-quality.yml
Due: none

fix: remove unused repository_dispatch event from code-quality workflow and add contentful-deploy workflow for automated content updates
  .github/workflows/code-quality.yml
  .github/workflows/contentful-deploy.yml
Due: none

feat: add GitLab CI configuration for quality checks, build, and deployment stages
  .gitlab-ci.yml
Due: none

chore: remove lefthook configuration file
  lefthook.yml
Due: none

feat: add scheduled deployment workflow to Netlify
  .github/workflows/deploy.yml
Due: none

feat: add GitHub Actions workflow to mirror repository to GitLab
  .github/workflows/mirror-gitlab.yml
Due: none

feat: add Lefthook configuration for git hooks including pre-commit, pre-push, and commit message checks
  lefthook.yml
Due: none

feat: implement commit message length check with custom script
  .lefthook/commit-msg-check.ps1
  lefthook.yml
Due: none

feat: update checkout step name for clarity in GitLab mirror workflow
  .github/workflows/mirror-gitlab.yml
Due: none

feat: update deploy workflows for improved scheduling and clarity
  .github/workflows/deploy.yml
  .gitlab-ci.yml
Due: none

feat: add comprehensive integration and component tests for Contentful API and rendering
  __tests__/contentful-api.test.ts
  __tests__/contentful-components.test.tsx
  __tests__/contentful-integration.test.ts
  __tests__/contentful-richtext.test.tsx
  __tests__/setup.d.ts
Due: lint, format, type-check

feat: add comprehensive Contentful integration tests
  __tests__/jest-setup.d.ts
  jest.config.js
Due: lint, format, type-check

feat: reorder imports and update blog title for clarity
  app/page.tsx
Due: lint, format, type-check

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,css,md}
  type-check: any of: *.{ts,tsx}
